{% extends 'base.html' %} {% load static %} {% block head %}
<style>
    h2 {
        margin: 10px 0;
        font-size: 23px;
        font-family: proxima nova rg;
        color: #1c3455;
        font-family: Raleway, sans-serif;
        margin: 0 0 15px 0;
        margin-left: 10px;
        display: inline-block;
        line-height: 40px;
        float: left;
    }
    
    p {
        margin-left: 10px !important;
    }

    
  ul {
    margin-left: 10px;
  }

  ul li{
    color: #314259;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Proxima Nova Rg';
    background: url('https://tax2win.in/assets-new/img/small-bullet.png') left 11px no-repeat;
    padding: 5px 20px 5px 30px;
    list-style-type: none;
}



</style>

<link href="https://tax2win.in/assets-new/dist/css/guide-page-1659173349489.min.css" rel="stylesheet" type="text/css" />

{% endblock head %} {% block content %}







<div class="container content-body guides-section banner">


    <div class="col-md-12">
        <h1>Avoid Tax Notices</h1><br><br>
        <div class="clearfix"></div>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <h2 id="What-is-Aadhaar-Card">Classifying Income Under Profits and Gains of Business or Profession:</h2>
            <div class="clearfix"></div>
            <p>The Income Tax department becoming net savvy and going online has made it easy it for them to identify discrepancies in papers and to keep a close eye on almost every financial transaction that takes place. Sometimes, even honest taxpayers have received notices and have come under the scrutiny causing them to run around to prove their honesty. This makes it very critical for everyone to maintain their papers & documentary evidences to safeguard their own interests.
            </p>
            <p>Here are the steps you need to take to minimize your chances of receiving a notice</p></br>

            <p><strong>Always file your returns on time and correctly : </strong>This is the basic precaution you need to take to ensure 100% compliance with the law. Make sure you are filing returns correctly and details given by you while filing Returns match with the details available with the IT department.</p>
            <p><strong>Submit ITR V to Centralized Processing Centre (CPC) Bangalore: </strong> Your filing of taxes will be considered complete only when your ITR V reaches CPC. Just uploading returns online is not enough; make sure you get confirmation of its receipt from CPC. Do follow the Dos & Don’ts of sending ITR-V to CPC</p>
            <p><strong>Check your form 26AS (Tax Credit Statement): </strong>“26AS” gives details of the “TDS” deposited on your behalf. Check all TDS payments duly credited to you and get it rectified if need be. It can be viewed through NSDL or IT department’s site and even through your bank’s online portal.</p>
            <p><strong>Mismatch in Income & Expenses/investments: </strong>If your income was INR. 10 lakhs and you invested INR. 25 lakhs, you will need to justify the source of these funds. The same applies to expenses incurred
            </p>
            <p><strong>Gifts/Money credited to your account: </strong> If you have funds credited to your account out of Gifts or loan from relatives/ friends, you will need to keep the documentary evidence for the same. You may also need to report these transactions in few instances.
            </p>
            <p><strong>Declaring “Exempt” Income: </strong> Even though few incomes are exempt from income tax, you will need to declare this while filing your return.
            </p>
            <p><strong>Updating PAN details: </strong> Make sure to update any changes in your PAN data like address/surname change post marriage etc.
            </p>
            <p><strong>Pay Advanced Tax: </strong> If you are liable to pay advance tax, then you have to pay it as per schedules & deadlines.
            </p>
            <p><strong>Form 15H or 15G: </strong> If your income is below the taxable limit, use 15H/15G instead of claiming refund, submit this at all the financial institutions like banks to prevent them from deducting TDS on your investments with them.
            </p>
            <p><strong>Avoid High Value transactions: </strong> The IT department gets information of all your high value transactions from the concerned institutions and chances of you coming under scrutiny increases. Avoid these transactions wherever possible & plan it carefully and legally.
            </p>
            <div class="clearfix"></div>
            <hr class="hr">
        </div>

       
    </div>

</div>


{% endblock content %}