{% extends 'base.html' %} {% load static %} {% block head %}
<style>
    h2 {
        margin: 10px 0;
        font-size: 23px;
        font-family: proxima nova rg;
        color: #1c3455;
        font-family: Raleway, sans-serif;
        margin: 0 0 15px 0;
        margin-left: 10px;
        display: inline-block;
        line-height: 40px;
        float: left;
    }
    
    p {
        margin-left: 10px !important;
    }
    
    
  ul {
    margin-left: 10px;
  }

  .radi{
    color: #314259;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Proxima Nova Rg';
    background: url('https://tax2win.in/assets-new/img/small-bullet.png') left 11px no-repeat;
    padding: 5px 20px 5px 30px;
    list-style-type: none;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}



.styled-table thead tr {
    background-color: #0186d7;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}





</style>{% endblock head %} {% block content %}







<div class="container content-body guides-section banner">


    <div class="col-md-12">
        <h1> Due Dates for Compliances</h1><br><br>
        <div class="clearfix"></div>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            
            <p>
                When it comes to income tax, there are a number of mandatory tax formalities that must be completed within the specified due dates/ deadlines, for example, filing income tax returns and paying advance tax on time, and so on.
               </p>
                
                
            <hr class="hr">
        </div>

        <div class="col-md-12">
            <h2 id="What-is-Aadhaar-Card-Number" style="">Here is the TAX CALENDAR:</h2>
            <div class="clearfix"></div>
            <table class="styled-table">

                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Nature of Deductions</th>
                    </tr>
                </thead>


                <tr>
                    <td>15th June </td> <td>	First instalment of advance tax for the Financial Year 	</td>			</tr>			
                    <tr>    <td>  31st July </td> <td>	Filing Income Tax Returns for the Financial Year (FY) 2021-22 – Individuals and Firms who are not subject to a tax audit and have not engaged in any international or specified domestic transactions			</td>	</tr>			
                    <tr>    <td>    15th Sept	</td> <td>Second instalment of advance tax for the Financial Year							</td></tr>
                    <tr>        <td>    30th Sept </td> <td>	Under Section 44AB - Submission of audit report – Taxpayers eligible for audit under the Income Tax Act			</td>				</tr>
                    <tr>            <td> 31st October </td> <td>	ITR filing for taxpayers who need to be audited (not having international or specified domestic transactions)		</td>			</tr>		
                    <tr>                <td>    31st October </td> <td>	Submission of audit report – For Taxpayers with transfer pricing and specified domestic transactions					</td>		</tr>
                    <tr>                    <td>      30th November </td> <td>	ITR filing for taxpayers who need to be audited – Having international or specified domestic transactions.				<td>	</tr>		
                        <tr>                        <td>    15th December </td> <td>	The third instalment of advance tax 							<td></tr>
                            <tr>                        <td>    31st December</td> <td>	The last day to file a revised or a belated return for Financial Year	<td> </tr>						
                                <tr>                        <td> 15th March</td> <td>	<ul>
                                    <li>i. The fourth advance tax instalment payment for the Financial Year.  </li>
                                        <li>ii. The due date for the entire amount of advance tax for FY 2020-21 for        taxpayers covered by Section 44AD and 44ADA's presumptive scheme."		</li>  </td?></tr>					
                        

                    </tr>
            </table>
                <hr class="hr">

                
        </div>

    </div>

</div>


{% endblock content %}