{% extends 'base.html' %} {% load static %} {% block head %}
<style>
    h2 {
        margin: 10px 0;
        font-size: 23px;
        font-family: proxima nova rg;
        color: #1c3455;
        font-family: Raleway, sans-serif;
        margin: 0 0 15px 0;
        margin-left: 10px;
        display: inline-block;
        line-height: 40px;
        float: left;
    }
    
    

    p {
        margin-left: 10px !important;
    }
    
  ul {
    margin-left: 10px;
  }

  ul li{
    color: #314259;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Proxima Nova Rg';
    background: url('https://tax2win.in/assets-new/img/small-bullet.png') left 11px no-repeat;
    padding: 5px 20px 5px 30px;
    list-style-type: none;
}



</style>

<link href="https://tax2win.in/assets-new/dist/css/guide-page-1659173349489.min.css" rel="stylesheet" type="text/css" />

{% endblock head %} {% block content %}







<div class="container content-body guides-section banner">


    <div class="col-md-12">
        <h1>Income From Business & Profession</h1><br><br>
        <div class="clearfix"></div>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <h2 id="What-is-Aadhaar-Card">Classifying Income Under Profits and Gains of Business or Profession:</h2>
            <div class="clearfix"></div>
            <p>In case the taxpayer is not able to find a type of income under the list above, the following conditions can be used to verify if an income would fall under Profits and gains of business or profession. According to Section 28, the following
                are the main clause that requires an income to be charged under profits and gains of business or profession: There should be a business or profession. The business or profession should have been carried on by the assessee. The business
                or profession should be carried on for some time during the financial year. The charge is in respect of the profits and gains of the financial year of the business or profession. The charge extends to any business or profession carried
                on by the assessee whether under the taxpayer’s own name or otherwise. Under Section 28, one of the main aspects on determining if an income must be classified under profits and gains of business or profession is that if a business was
                carried on by the assessee at any time during the financial year. It is, however, not necessary that the business is carried out throughout the financial year or till the end of the financial year.

            </p>
            <div class="clearfix"></div>
            <hr class="hr">
        </div>

        <div class="col-md-12">
            <h2 id="What-is-Aadhaar-Card-Number">Other Income Classified as Profits and Gains of Business:</h2>
            <div class="clearfix"></div>
            <p> Other Income Classified as Profits and Gains of Business: There are certain exceptions to the above rules. The following incomes must be classified under Profits and Gains of Business, even if a business was not carried on by the assessee
                during the previous year. Recovery against any loss, expenditure or trading liability earlier allowed as a deduction. Balancing charge in case of electricity companies. Sale of a capital asset which was used for scientific research. Recovery
                against bad debts. Any amount which is withdrawn from a Special Reserve. Receipt of discontinued business in the case of assessees who are making use of a cash system of accounting.</p>
            <p>
                <div class="clearfix"></div>
                <hr class="hr">
        </div>
    </div>

</div>


{% endblock content %}