{% extends 'base.html' %} {% load static %} {% block head %}
<style>
    h2 {
        margin: 10px 0;
        font-size: 23px;
        font-family: proxima nova rg;
        color: #1c3455;
        font-family: Raleway, sans-serif;
        margin: 0 0 15px 0;
        margin-left: 10px;
        display: inline-block;
        line-height: 40px;
        float: left;
    }
    
    p {
        margin-left: 10px !important;
    }
    
    
  ul {
    margin-left: 10px;
  }

  .radi{
    color: #314259;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Proxima Nova Rg';
    background: url('https://tax2win.in/assets-new/img/small-bullet.png') left 11px no-repeat;
    padding: 5px 20px 5px 30px;
    list-style-type: none;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}



.styled-table thead tr {
    background-color: #0186d7;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}





</style>{% endblock head %} {% block content %}







<div class="container content-body guides-section banner">


    <div class="col-md-12">
        <h1>Income From House Property</h1><br><br>
        <div class="clearfix"></div>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <h2 id="What-is-Aadhaar-Card">Classifying Income Under Profits and Gains of Business or Profession:</h2>
            <div class="clearfix"></div>
            <p>
               </p>
                
                <div style="display: flex;"><h2 style="font-size: 20px;;font-weight: 600;">
                    Basis of Charge [Section 22]: 
                  </h2></div>
            

                <div style="display: flex;"><h2 style=>
                    Income from house property shall be taxable under this head if following conditions are satisfied:

                  </h2></div>
            
                <ul>
                
                    <li class="radi"> The house property should consist of any building or land appurtenant thereto; </li>
                    <li class="radi"> The taxpayer should be the owner of the property; </li>
                    <li class="radi"> The house property should not be used for the purpose of business or profession carried on by the taxpayer. </li>
                </ul>
                <br>
                 
                <div style="display: flex;"><h2 style="font-size: 20px;;font-weight: 600;">
                    Gross Annual value [Sec. 23(1)]
                  </h2></div>
                  

                <div style="display: flex;"><h2 style=>
                    The Gross Annual Value of the house property shall be higher of following:
                  </h2></div>

                <ul>
                
                    <li class="radi"> Expected rent, i.e., the sum for which the property might reasonably be expected to be let out from year to year. Expected rent shall be higher of municipal valuation or fair rent of the property, subject to maximum of standard rent; </li>
                    <li class="radi"> Rent actually received or receivable after excluding unrealized rent but before deducting loss due to vacancy</li>
                    <li class="radi">Out of sum computed above, any loss incurred due to vacancy in the house property shall be deducted and the remaining sum so computed shall be deemed to the gross annual value.
                    </li>
                </ul>
            </p>
            <div class="clearfix"></div>
            <hr class="hr">
        </div>

        <div class="col-md-12">
            <h2 id="What-is-Aadhaar-Card-Number" style="">Deductions:</h2>
            <div class="clearfix"></div>
            <table class="styled-table">

                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Nature of Deductions</th>
                    </tr>
                </thead>


                <tr>
                    <td>Municipal Taxes
                        Standard Deduction[Section 24(a)]</td>
                    <td>Municipal taxes including service-taxes levied by any local authority in respect of house property is allowed as deduction, if:
                        a) Taxes are borne by the owner; and
                        b) Taxes are actually paid by him during the year.
                        
                        30% of net annual value of the house property is allowed as deduction if property is let-out during the previous year.</td>
                </tr>
                <tr>
                    <td>Interest on Borrowed Capital *
                        [Section 24(b)]</td>
                    <td>a) In respect of let-out property, actual interest incurred on capital borrowed for the purpose of acquisition, construction, repairing, re-construction shall be allowed as deduction
                        b) In respect of self-occupied residential house property, interest incurred on capital borrowed for the purpose of acquisition or construction of house property shall be allowed as deduction up to Rs. 2 lakhs. The deduction shall be allowed if capital is borrowed on or after 01-04-1999 and acquisition or construction of house property is completed within 5 years.
                        c) In respect of self-occupied residential house property, interest incurred on capital borrowed for the purpose of reconstruction, repairs or renewals of a house property shall be allowed as deduction up to Rs. 30,000.</td>
                </tr>
            </table>
                <hr class="hr">

                <p>* Any interest pertaining to the period prior to the year of acquisition/ construction of the house property shall be allowed as deduction in five equal installments, beginning with the year in which the property was acquired/ constructed.</p>
                <div style="display: flex;"><h2 style=>
                    * Deduction for interest on borrowed capital shall be limited to Rs. 30,000 in following circumstances:

                  </h2></div>
            
                <ul>
                
                    <li class="radi">  If capital is borrowed before 01-04-1999 for the purpose of purchase or construction of a house property;</li>
                        <li class="radi"> If capital is borrowed on or after 01-04-1999 for the purpose of re-construction, repairs or renewals of a house property;</li>
                            <li class="radi">If capital is borrowed on or after 01-04-1999 but construction of house property is not completed within five years from end of the previous year in which capital was borrowed.</li>
                </ul>

                <p>
                    With effect from Assessment Year 2020-21, deduction for interest paid or payable on borrowed capital shall be allowed in respect of two self-occupied house properties. However, the aggregate amount of deduction under this provision shall remain same i.e., Rs. 30,000 or Rs. 2,00,000, as the case may be.
                </p>  
                
                


                <div style="display: flex;"><h2 style=>
                    
                    Deduction for interest on housing loan [Section 80EE]:

                  </h2></div>
                <div style="display: flex;"><h2 style=>
                    
                    
Deduction of up to Rs 50,000 shall be allowed to an Individual for interest payable on loan taken for the purpose of acquisition of a house property subject to following conditions:

                  </h2></div>
            
                <ul>
                
                    <li class="radi">  Loan has been sanctioned by Financial institution during the financial year 2016-17;</li>
                    <li class="radi">The amount of loan sanctioned does not exceed Rs 35,00,000;</li>
                    <li class="radi"> The value of residential property does not exceed Rs 50,00,000;</li>
                    <li class="radi"> The assessee does not own any residential house property on the date of sanction of loan;</li>
                    <li class="radi"> Where deduction has been allowed under this section, no deduction shall be allowed in respect of such interest under any other provision.</li>
                </ul>

                <p>
                    With effect from Assessment Year 2020-21, deduction for interest paid or payable on borrowed capital shall be allowed in respect of two self-occupied house properties. However, the aggregate amount of deduction under this provision shall remain same i.e., Rs. 30,000 or Rs. 2,00,000, as the case may be.
                </p>                    

        </div>

    </div>

</div>


{% endblock content %}