{% extends 'base.html' %} {% load static %} {% block head %}
<style>
    h2 {
        margin: 10px 0;
        font-size: 23px;
        font-family: proxima nova rg;
        color: #1c3455;
        font-family: Raleway, sans-serif;
        margin: 0 0 15px 0;
        margin-left: 10px;
        display: inline-block;
        line-height: 40px;
        float: left;
    }
    
    p {
        margin-left: 10px !important;
    }
    
    
  ul {
    margin-left: 10px;
  }

  .radi{
    color: #314259;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Proxima Nova Rg';
    background: url('https://tax2win.in/assets-new/img/small-bullet.png') left 11px no-repeat;
    padding: 5px 20px 5px 30px;
    list-style-type: none;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}



.styled-table thead tr {
    background-color: #0186d7;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}





</style>{% endblock head %} {% block content %}







<div class="container content-body guides-section banner">


    <div class="col-md-12">
        <h1>Tax Deductions At Sources (TDS)</h1><br><br>
        <div class="clearfix"></div>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="clearfix"></div>
            <p>

                TDS stands for Tax Deducted Source. In TDS system, persons responsible for making payment for specified services such as commission, brokerage, professional consultancy etc are required to deduct a fixed percentage from the amount.
               </p>


            <p>

                Such deducted amount (which is called TDS) have to be deposited to the Government by the Deductor (person who is deducting tax) on behalf of deductee (person who is providing services) which deductee can claim as Income Tax Paid at the time of filing his Income Tax Return.
            </p>
                
              
                <div style="display: flex;"><h2 style=>
                    Persons Who Are Required To Deduct TDS

                  </h2></div>
                <div style="display: flex;"><h2 style=>
                    Government has notified below persons who is require to deduct TDS for the specified services:-

                  </h2></div>
                 <p> <strong>a) Individual and HUF		 </strong>						
                 <p> An individual and HUF is required to deduct TDS on the specified services if they are engaged in:-	 </p>							
                    <p>(i) business having turnover of Rs 1 crore or more during the previous financial year or			</p>					
                        <p>(ii) profession having receipts of Rs 50 lakh or more during the previous financial year    and they are required to get books of account audited under section 44AB.			</p>					
                        <br>   
                        <p><strong>Exception :- </strong>If a person is require to get his books of account audited due to reporting of net profit which is less than 8% of the turnover (Section 44 AD) of the business or 50% of the gross receipt (Section 44ADA) in case of professional services then he is not required to deduct TDS		</p>						
                            <br>

                            <p><strong>b) Any other person apart from Individual and HUF such as Partnership Firm, LLP, Private Limited Company, Co-operative Society etc.								
                            </strong></p>
                  <p>  a) In case of purchase of immovable property where the consideration paid for the property is more than Rs 50 Lakh (Section 194IA).				</p>				
								
                  <p>  b) When the rent paid for land or building exceeding Rs 50,000 per month (Section 194IB). In section 194IB only those Individual or HUF are covered which are not required to deduct TDS as per above mentioned point (a). If a person is covered as per point (a) then such person is required to deduct TDS under section 194I not under section 194IB.			</p>							
                    
                <br>



                <p><strong>Exception</strong></p>


                <p>In the below cases Individual and HUF which are not covered above are also required to deduct TDS:-			</p>					
								
                   <p> a) In case of purchase of immovable property where the consideration paid for the property is more than Rs 50 Lakh (Section 194IA).			</p>					
                                                    
                   <p> b) When the rent paid for land or building exceeding Rs 50,000 per month (Section 194IB). In section 194IB only those Individual or HUF are covered which are not required to deduct TDS as per above mentioned point (a). If a person is covered as per point (a) then such person is required to deduct TDS under section 194I not under section 194IB.			</p>		<br>			
                    
                <p><strong>When TDS Is To Be Deducted</strong></p>


<p>The incidence of deducting TDS depends on the nature of payment.		</p>						
    

                <div style="display: flex;"><h2 style=>
                    TDS is required to be deducted at the time of actual payment only, not on due or accrual basis in following cases :
                  </h2></div>

                <ul>
                
                    <li class="radi">Salary		 </li>						
                    <li class="radi">   Payment of accumulated balance of Employee’s Provident Fund	 </li>							
                    <li class="radi">  Dividends								 </li>
                    <li class="radi">Winning from lottery or crosswords puzzle.	 </li>							
                    <li class="radi">   Winning from horse race							 </li>	
                    <li class="radi">    Payment in respect of life insurance policy to policy holder	 </li>							
                    <li class="radi">   Payment in respect of deposits under National Saving Scheme		 </li>						
                    <li class="radi">   Payment on account of repurchase of units by Mutual Funds or Unit Trust of India       </li>								
                    <li class="radi">   Payment of compensation on compulsory acquisition of certain immovable property								
                         </li>
                </ul>
            </p>
            <div class="clearfix"></div>
            <hr class="hr">
        </div>

    </div>

</div>


{% endblock content %}