{% extends 'base.html' %} {% load static %} {% block head %}
<style>
    h2 {
        margin: 10px 0;
        font-size: 23px;
        font-family: proxima nova rg;
        color: #1c3455;
        font-family: Raleway, sans-serif;
        margin: 0 0 15px 0;
        margin-left: 10px;
        display: inline-block;
        line-height: 40px;
        float: left;
    }
    
    p {
        margin-left: 10px !important;
    }
    
    
  ul {
    margin-left: 10px;
  }

  .radi{
    color: #314259;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Proxima Nova Rg';
    background: url('https://tax2win.in/assets-new/img/small-bullet.png') left 11px no-repeat;
    padding: 5px 20px 5px 30px;
    list-style-type: none;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}



.styled-table thead tr {
    background-color: #0186d7;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}





</style>{% endblock head %} {% block content %}







<div class="container content-body guides-section banner">


    <div class="col-md-12">
        <h1>Tax Collected At Source (TCS)</h1><br><br>
        <div class="clearfix"></div>
<p>The TCS or Tax Collected at Source is the tax that is collected from the buyer by the seller while the purchase of some specific goods category by the buyer. This TCS rate depends on the category of the items and this tax collected from the buyer needs to be deposited to the government by the seller. In other words, TCS is a tax that is payable to the government by the seller who in turn collects from the buyer or lessee. The items which come under this tax are mentioned under the Section 206 C Income Tax Act, 1961.</p>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <h2 id="What-is-Aadhaar-Card">Classifying Income Under Profits and Gains of Business or Profession:</h2>
            <div class="clearfix"></div>
            <p>
               </p>
               
                <div style="display: flex;"><h2 style=>
                    Types of sellers under TCS
                  </h2></div>
            
                <div style="display: flex;"><h2 style=>
                    The below-mentioned organization and people would be considered as sellers for the TCS:-
                  </h2></div>
            
                <ul>
                
                    <li class="radi">  Statutory Corporation or Authority	</li>							
                        <li class="radi">     Co-operative Society				</li>				
                            <li class="radi">      Partnership Firms				</li>				
                                <li class="radi">      Company							</li>	
                                    <li class="radi">      Local Authority					</li>			
                                        <li class="radi">      State Government					</li>			
                                            <li class="radi">      Central Government								
                         </li>

                          <li class="radi"> Central Government		</i>						
 <li class="radi"> Any HUF or person that has their total sales and/or gross receipts which is greater than fixed monetary restricts which is mentioned in Section 44AB in the previous financial year.								</li>

                </ul>
                <br>
                 
                <div style="display: flex;"><h2 style="font-size: 20px;;font-weight: 600;">
                    Types of buyers under TCS								

                  </h2></div>
                  

                <div style="display: flex;"><h2 style=>
                    A buyer is a person which has a single or individual entity or goods or people with the right of getting goods at any auction, tender, sale, or any other mode. The below mentioned are the organizations and people that are not considered as buyers for TCS or tax collected at source:-								

                  </h2></div>

                <ul>
                
                    <li class="radi"> Central Government </i>								
                        <li class="radi"> Clubs for example social clubs and sports clubs	</i>							
                        <li class="radi"> Consulate								</i>
                        <li class="radi"> High Commission Embassy					</i>			
                        <li class="radi"> Public Sector Entities						</i>		
                        <li class="radi"> Public Sector Companies							</i>	
                        <li class="radi"> State Government								</i>
                        <li class="radi"> Representation of Trade Committee of any Foreign Nation								
                         </li>
                </ul>
            </p>
            <div class="clearfix"></div>
            <hr class="hr">
        </div>

        
        
        <div class="col-md-12">
            <div style="display: flex;"><h2 style="font-size: 20px;;font-weight: 600;">
                TCS Rates
              </h2></div>
            <h2 id="What-is-Aadhaar-Card-Number" style="">Deductions:</h2>
            <div class="clearfix"></div>
            <table class="styled-table">

                <thead>
                    <tr>
                        <th>Nature of Goods</th>
                        <th>TCS Rate</th>
                    </tr>
                </thead>


                <tr>
                    <td> Alcoholic liqour for human consumption		</td>
                    <td>					1%	</td>
                </tr>
                <tr>
                    <td> Tendu Leaves		</td>
                    <td>					5%	 </td>
                </tr>
                <tr>
                    <td> Timber obtained under a Forest Lease							
                    </td>
                    <td>				2.50%		 </td>
                </tr>
                <tr>
                    <td> Timber obtained by any mode other than Forest Lease						
                    </td>
                    <td>				2.50%		 </td>
                </tr>
                <tr>
                    <td>Any other Forest produce not being forest timber or tendu leaves							
                    </td>
                    <td>				2%		 </td>
                </tr>
                <tr>
                    <td> Scrap							
                    </td>
                    <td>				1%		 </td>
                </tr>
                <tr>
                    <td> Parking Lot, Toll Plaza, Mining and Quarrying		
                    </td>
                    <td>				2%		 </td>
                </tr>
                <tr>
                    <td>Minerals being Coal or Lignite or Iron ore (applicable from 1st July 2012)							
                    </td>
                    <td>				1%		 </td>
                </tr>
                    <td>Bullion if consideration exceeds Rs. 2 Lakhs or jewellery, if consideration exceeds Rs. 5 Lakhs (and any amount is received in cash)  (applicable from 1st July 2012)					

                    </td>
                    <td>				1%		 </td>
                 </tr>
                <tr>
                    <td>Sale Of Cars (Both New And Old) If Sale Is Above Rs. 10 Lakhs (Applicable From 1St June 2016)						
                    </td>
                    <td>				1%		 </td>
                </tr>
                <tr>
                    <td>Providing any service (other than payments on which TDS has been deducted) exceeding Rs. 2 Lakhs	
                        
                    </td>
                    <td>				1%		 </td>
                </tr>
                <tr>
                    <td>Sale of any Goods in Cash exceeding Rs. 2 Lakhs						

                    </td>
                    <td>				1%		 </td>
                </tr>
            </table>
                <hr class="hr">

                <p>* Any interest pertaining to the period prior to the year of acquisition/ construction of the house property shall be allowed as deduction in five equal installments, beginning with the year in which the property was acquired/ constructed.</p>
                <div style="display: flex;"><h2 style=>
                    * Deduction for interest on borrowed capital shall be limited to Rs. 30,000 in following circumstances:

                  </h2></div>
            
                <ul>
                
                    <li class="radi">  If capital is borrowed before 01-04-1999 for the purpose of purchase or construction of a house property;</li>
                        <li class="radi"> If capital is borrowed on or after 01-04-1999 for the purpose of re-construction, repairs or renewals of a house property;</li>
                            <li class="radi">If capital is borrowed on or after 01-04-1999 but construction of house property is not completed within five years from end of the previous year in which capital was borrowed.</li>
                </ul>

                <p>
                    With effect from Assessment Year 2020-21, deduction for interest paid or payable on borrowed capital shall be allowed in respect of two self-occupied house properties. However, the aggregate amount of deduction under this provision shall remain same i.e., Rs. 30,000 or Rs. 2,00,000, as the case may be.
                </p>  
                
                


                <div style="display: flex;"><h2 style=>
                    
                    Deduction for interest on housing loan [Section 80EE]:

                  </h2></div>
                <div style="display: flex;"><h2 style=>
                    
                    
Deduction of up to Rs 50,000 shall be allowed to an Individual for interest payable on loan taken for the purpose of acquisition of a house property subject to following conditions:

                  </h2></div>
            
                <ul>
                
                    <li class="radi">  Loan has been sanctioned by Financial institution during the financial year 2016-17;</li>
                    <li class="radi">The amount of loan sanctioned does not exceed Rs 35,00,000;</li>
                    <li class="radi"> The value of residential property does not exceed Rs 50,00,000;</li>
                    <li class="radi"> The assessee does not own any residential house property on the date of sanction of loan;</li>
                    <li class="radi"> Where deduction has been allowed under this section, no deduction shall be allowed in respect of such interest under any other provision.</li>
                </ul>

                <p>
                    With effect from Assessment Year 2020-21, deduction for interest paid or payable on borrowed capital shall be allowed in respect of two self-occupied house properties. However, the aggregate amount of deduction under this provision shall remain same i.e., Rs. 30,000 or Rs. 2,00,000, as the case may be.
                </p>                    

        </div>

    </div>

</div>


{% endblock content %}