

{% extends 'admin-templates/base.html' %}
{% load static %}

{% block head %}


<link type="text/css" rel="stylesheet" href="{% static 'admin-pannel/css/tick-cross.css ' %}">



            
    {% endblock head %}



{% block content %}



        <div class="main-content-inner">
            <div class="row">
                <!-- table primary start -->
                <div class="col-lg-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Thead Primary</h4>
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table text-center">
                                        <thead class="text-uppercase bg-primary">
                                            <tr class="text-white">
                                                <th scope="col">ID</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Mobile</th>

                                                <th scope="col">Name Approval Application</th>
                                                <th scope="col">Company LLP registration</th>
                                                <th scope="col">All other MCA Compliances</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for i in data %}

                                            <tr>
                                                <th scope="row">1</th>
                                                <td>{{ i.name }}</td>
                                                <td>{{ i.date_time }}</td>
                                                <td>{{ i.mobile }}</td>
                                                <td>
                                                    {% if i.Name_approval_application %}

                                                        <span class="checkmark"></span>
                                                    
                                                    {% else %}                                                  
                                                        <button type="button" class="btn-close">
                                                            <span class="icon-cross"></span>
                                                            <span class="visually-hidden">Close</span>
                                                        </button>
                                                    {% endif %}
                                                
                                                
                                                </td>
                                                <td>
                                                    {% if i.Company_LLP_registration %}

                                                        <span class="checkmark"></span>
                                                    
                                                    {% else %}                                                  
                                                        <button type="button" class="btn-close">
                                                            <span class="icon-cross"></span>
                                                            <span class="visually-hidden">Close</span>
                                                        </button>
                                                    {% endif %}
                                                
                                                
                                                </td>
                                                <td>
                                                    {% if i.All_other_MCA_compliances %}

                                                        <span class="checkmark"></span>
                                                    
                                                    {% else %}                                                  
                                                        <button type="button" class="btn-close">
                                                            <span class="icon-cross"></span>
                                                            <span class="visually-hidden">Close</span>
                                                        </button>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {{ i.status }}
                                                </td>
                                               
                                                <td><a href="{% url 'delete_comapny_tax' i.id %}"><i style="margin-right:10px;" class="ti-trash"></i></a><a href="{% url 'update_comapny_tax' i.id %}"><i class="ti-pencil-alt"></i></a></td>
                                            </tr>

                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% endblock content %}