.checkmark {
    display: inline-block;
    transform: rotate(47deg);
    height: 30px;
    width: 16px;
    margin: auto;
    border-bottom: 7px solid #78b13f;
    border-right: 7px solid #78b13f;
}

.tdcenter {
    text-align: center;
    vertical-align: middle;
}

.btn-close {
    margin: auto;
    border: 0;
    padding: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 150ms;
}

.btn-close .icon-cross {
    margin: auto;
    padding: 0;
    border: 0;
    background: white;
    position: relative;
    width: 40px;
    height: 40px;
}

.btn-close .icon-cross span {
    display: block;
}

.btn-close .icon-cross:before,
.btn-close .icon-cross:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 5px;
    right: 0;
    width: 25px;
    height: 5px;
    background: black;
    border-radius: 6px;
}

.btn-close .icon-cross:before {
    transform: rotate(45deg);
}

.btn-close .icon-cross:after {
    transform: rotate(-45deg);
}

.btn-close .icon-cross span {
    display: block;
}

.btn-close:hover,
.btn-close:focus {
    transform: rotateZ(90deg);
}

.cross-stand-alone {
    margin: 0;
    padding: 0;
    border: 0;
    background: white;
    position: relative;
    width: 40px;
    height: 40px;
}

.cross-stand-alone:before,
.cross-stand-alone:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 5px;
    right: 0;
    width: 25px;
    height: 5px;
    background: #fff;
    border-radius: 6px;
}

.cross-stand-alone:before {
    transform: rotate(45deg);
}

.cross-stand-alone:after {
    transform: rotate(-45deg);
}

.cross-stand-alone span {
    display: block;
}

.cross-1px {
    margin: 0;
    padding: 0;
    border: 0;
    background: white;
    position: relative;
    width: 36px;
    height: 36px;
}

.cross-1px:before,
.cross-1px:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 5px;
    right: 0;
    width: 25px;
    height: 5px;
    background: #fff;
    border-radius: 6px;
}

.cross-1px:before {
    transform: rotate(45deg);
}

.cross-1px:after {
    transform: rotate(-45deg);
}

.cross-1px span {
    display: block;
}

body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    height: 100vh;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}