{% extends 'base.html' %} {% load static %} {% block head %}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="{% static 'common.css' %}" />



<link
  type="text/css"
  rel="stylesheet"
  href="{% static 'source_of_income.css' %}"
  
/>


<style>



  .modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

  .icon-box {
    color: #fff;		
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
  }



</style>



{% endblock head %} 

{% block content %}
<section class="source-of-income">
  <div class="banner inner-banner">
    <div class="top-relement"></div>
    <div class="left-element hidden-xs"></div>
    <div class="right-element hidden-xs"></div>
    <div class="container text-center">
      <div class="txt">
        <h1>
          <strong> <b>Unlock Your Easy Filings!</b></strong>
        </h1>
        
      </div>
    </div>
  </div>
  <div id="myform" class="container select-plan">

     
    
    {% csrf_token %}


    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 caAstBox">
        <div class="checkbox">
          <input
            type="checkbox"
            name="s_salary_income"
            data-id="1"
            data-income="salary"
            id="Name_approval_application"
            class=""
          />
          <label for="Name_approval_application"
            ><img
              src="https://tax2win.in/assets-new/img/source-of-income/salary_income.png"
              alt="Salary Income"
              title="Salary Income"
            /><span> <strong> Name Approval Application </strong></span
            ><bold class="chang-txt"
              >Select<i>ed</i> <i class="fa fa-check"></i
            ></bold>
            <div class="clearfix"></div>
          </label>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 caAstBox">
        <div class="checkbox">
          <input
            type="checkbox"
            name="s_presumptive_income"
            data-id="2"
            data-income="presumptive_income"
            id="Company_LLP_registration"
            class=""
          />
          <label for="Company_LLP_registration"
            ><img
              src="https://tax2win.in/assets-new/img/source-of-income/presumptive_income.png"
              alt="Business Income"
              title="Business Income"
            /><span> <strong> Company LLP Registration </strong> </span
            ><bold class="chang-txt"
              >Select<i>ed</i> <i class="fa fa-check"></i
            ></bold>
            <div class="clearfix"></div>
          </label>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 caAstBox">
        <div class="checkbox">
          <input
            type="checkbox"
            name="s_house_property_income"
            data-id="3"
            data-income="house_property_income"
            id="All_other_MCA_compliances"
            class=""
          />
          <label for="All_other_MCA_compliances"
            ><img
              src="https://tax2win.in/assets-new/img/source-of-income/house_property_income.png"
              alt="House Property Income"
              title="House Property Income"
            /><span
              > <strong>  All Other MCA Compliances </strong> </span
            ><bold class="chang-txt"
              >Select<i>ed</i> <i class="fa fa-check"></i
            ></bold>
            <div class="clearfix"></div>
          </label>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-12 text-center">
       

        {% if user.is_authenticated %}

          <button
              id="exampleModal_button"
              
            value="SUBMIT"
            class="green-btn loading_btn"
            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading"
            data-ctid="screen-name-income-normal-w3bk2b82i3"
          >
            Continue
          </button>

        {% else %}

          <a href="{% url 'login' %}?next={{request.path}} ">

            <button
            
         
          class="green-btn loading_btn"
          data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading"
          data-ctid="screen-name-income-normal-w3bk2b82i3"
        >
          Continue
        </button>

      </a>

        {% endif %}

      </div>
    </div>
</div>



<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" id="sample-demo">
            <div class="modal-header pb-0">
                <div>
                    <h5 class="modal-title" id="exampleModalLabel">Your details</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body d-flex flex-column gap-2">
                
                <div class="form-check">

                    <div class="form-group">

                        <label> Name (*As per PAN card) </label>
                        <input type="text" style="height: 45px;" id="name" style="margin-bottom: 14px;" class="form-control" placeholder="name" required>
                        <br required<label> Mobile Number </label>
                      <input type="number"  style="height: 45px;" id="mobile" style="margin-bottom: 14px;" class="form-control" placeholder="mobile" required>
                      <br> <label> Convenient time for call back </label>
                        <input type="datetime-local"  style="height: 45px;" id="date_time" style="margin-bottom: 14px;" class="form-control" placeholder="pincode" required>
                        
                    
                    </div>
                   
                  </div>
                  
            </div>
            <div class="modal-footer d-flex">
                <button type="submit" style="width: 100%;background: #0186d7;" class="btn btn-secondary d-flex justify-content-center align-items-center" data-bs-dismiss="modal">
                     
                    <span class="d-block">Submit</span>
                </button>
            </div>
          </form>
    </div>
</div>

<div class="modal" style="margin-top: 93px;overflow: inherit;" id="abcd" tabindex="-1" aria-labelledby="exampleModal_suLabel" aria-hidden="true">
    <div class="modal-dialog">
           
            <div class="modal-body d-flex flex-column gap-2">
                

                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="icon-box">
                        <i class="material-icons"> ✔ </i>
                      </div>				
                      <h4 class="modal-title w-100">Awesome!</h4>	
                    </div>
                    <div class="modal-body">
                      <p class="text-center">Your booking has been confirmed. Our team will call you at your desired time.</p>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
                    </div>
                  </div>
                  
           
    </div>
</div>




  <br />
</section>

{% endblock content %}


{% block script %}


<script>

    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {})
    var myModal_su = new bootstrap.Modal(document.getElementById('abcd'), {})

    document.getElementById("exampleModal_button").addEventListener("click", function(event){
      myModal.show();
    })


    $(document).ready(function() {
      $('#sample-demo').on('submit', function(e){
        // validation code here
        e.preventDefault();

        let Name_approval_application = 'False'
        let Company_LLP_registration = 'False'
        let All_other_MCA_compliances = 'False'
        


        if($("#Name_approval_application").prop('checked') == true){

            Name_approval_application = 'True'
        }
        if($("#Company_LLP_registration").prop('checked') == true){

            Company_LLP_registration = 'True'
        }
        if($("#All_other_MCA_compliances").prop('checked') == true){

            All_other_MCA_compliances = 'True'
        }
       


        name = document.getElementById("name").value
        mobile = document.getElementById("mobile").value
        date_time = document.getElementById("date_time").value


        $.ajax({
            cache: false, // initialize an AJAX request
            type: "POST",
            url: "{% url 'company_llp_questions' %}",
            data: {
                csrfmiddlewaretoken:  '{{ csrf_token  }}',
                name : name,
                mobile : mobile,
                date_time : date_time,
                
                Name_approval_application : Name_approval_application,
                Company_LLP_registration : Company_LLP_registration,
                All_other_MCA_compliances : All_other_MCA_compliances
            },
    



            success: function (data) {

                      myModal.hide();
                      
                      myModal_su.show();

                     

            }

            
            });



          });
        });
          



    


</script>


{% endblock script %}
