{% extends 'base.html' %}
{% load static %}

{% block head %}


    <style>

        .modal-backdrop {
            background : none !important;
        }

        

  .modal-backdrop {
    background : none !important;
}

  .modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}

.banner {
    background: #f8f8f8;
    padding: 196px 0 80px 0 !important;
    position: relative;
}

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

  .icon-box {
    color: #fff;		
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
  }


  @media (max-width:420px)  {

    
    .banner {
        padding: 82px 0 80px 0 !important;
    }
  
    
}
    </style>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'common.css' %}" />
    
            
    {% endblock head %}



{% block content %}



<section class="banner">
    <div class="top-relement"></div>
    <div class="left-element hidden-xs"></div>
    <div class="right-element hidden-xs"></div>
    <div class="container text-center">
        <div class="txt w3-animate-opacity"> <span>Welcome to Namaste Rapid Tax</span>
            <hr>
            <h1 class="h1mobile">
                Unlock Your Easy Filing!
                
            </h1>
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 banner-carousel" id="banner-slide">
                    <div id="banner-carousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item slide-one">
                                <form>
                                    <div class=" col-md-offset-1 col-md-10 col-sm-12 col-xs-12 text-right">
                                        <input type="email" placeholder="Enter your email to eFile Income Tax Return & get maximum tax refund" class="form-control">
                                        <a href="#banner-carousel" data-slide="next">Start e-Filing Now</a>
                                        <div class="clearfix"></div>
                                        <small class="error">Please enter valid email id</small>
                                    </div>

                                </form>
                            </div>
                            <div class="item active services">
                                
                                
                                <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                                    <div class="ca-assisted clearfix" style="height: fit-content;">
                                        <div class="col-md-3 col-sm-2 col-xs-3">
                                            <img src="{% static '' %}img/self filing.svg" alt="CA Assistance" class="img-responsive" title="CA Assisted ITR Filing" width="87" height="87" /> </div>
                                        <div class="col-md-9 col-sm-10 col-xs-9 card-txt">
                                            <h3>Self Filing</h3>
                                            <p>Filings on your fingertips for free</p>
                                            <a class="btn" id="exampleModal_button" title="Tax Filing Help" data-ctid="card-clicked-book-eca-now-415d2f25cd">Proceed Now &rightarrow;</a> </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="ca-assisted clearfix" style="height: fit-content;">
                                        <div class="col-md-3 col-sm-2 col-xs-3">
                                            <img src="{% static '' %}img/ca-assisted.png" alt="CA Assistance" class="img-responsive" title="CA Assisted ITR Filing" width="87" height="87" /> </div>
                                        <div class="col-md-9 col-sm-10 col-xs-9 card-txt">
                                            <h3>CA Assisted Filing</h3>
                                            <p>Connect with an expert CA for your filings.</p>
                                            <a class="btn" id="exampleModal_button12" title="Tax Filing Help" data-ctid="card-clicked-book-eca-now-415d2f25cd">Proceed Now &rightarrow;</a> </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} 
<section class="how-works">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center"><span>5 Easy Steps to e-file your Income Tax Return</span>
                    <p>Our easy-to-use DIY tax return filing platform is designed to help you get your maximum refund
                    </p>
                    <hr>
                </div>
                <div class="wrapper">
                    <div class="box">
                        <span>1</span>
                        <figure><img src="{% static 'img/homepage/icon-1.png' %}" alt="Easy Sign in/up" title="Easy Sign in/up"></figure>
                        <h3>Easy Sign in/up</h3>
                        <p>Login or create a new account</p>
                    </div>
                    <div class="box">
                        <span>2</span>
                        <figure><img src="{% static 'img/homepage/icon-2.png' %}" alt="Quick pick" title="Quick pick"></figure>
                        <h3>Quick pick</h3>
                        <p>Select your sources of income</p>
                    </div>
                    <div class="box">
                        <span>3</span>
                        <figure><img src="{% static 'img/homepage/icon-3.png' %}" alt="Pre-filled data" title="Pre-filled data"></figure>
                        <h3>Pre-filled data</h3>
                        <p>Details auto extracted from IT dept for ITR filing</p>
                    </div>
                    <div class="box">
                        <span>4</span>
                        <figure><img src="{% static 'img/homepage/icon-4.png' %}" alt="Compare Computations" title="Compare Computations"></figure>
                        <h3>Compare Computations</h3>
                        <p>Choose between old & new regimes</p>
                    </div>
                    <div class="box last">
                        <span>5</span>
                        <figure><img src="{% static 'img/homepage/icon-5.png' %}" alt="File ITR" title="File ITR"></figure>
                        <h3>File ITR</h3>
                        <p>E-File Income tax & get confirmation from IT dept</p>
                    </div>
                </div>
                <div class="cta_btn_mim"> <a href="efile-income-tax-return/sources-of-income.html" class="btn1" title="Free File Now">Free File Now →</a> </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<!-- 
<section class="home-cryptocurrency">
<div class="container">
<div class="row">
<div class="col-md-8 col-sm-7 col-xs-12">
<article>
<h2> <img width="50" src="{% static '' %}img/calculators/crypto-icon.svg" alt="Crypto Tax Calculator" title="Crypto Tax Calculator"> Cryptocurrency Calculator</h2>
<div class="text_hxt1">
<h3 class="title-h3"><span>Calculate your taxes</span> on all Cryptocurrencies & Digital Virtual
Assets </h3>
<p>Use Tax2Win Cryptocurrency tax calculator for calculating your taxes on Digital assets such
as Bitcoin, Etherum NFTs etc</p>
<a href="tax-tools/crypto-currency-tax-calculator.html" class="btn" title="Calculate Crypto Tax">Calculate Crypto Tax</a>
</div>
<h3 class="title-h3">Cryptocurrency Taxation Guide</h3>
<p>Know everything about cryptocurrency and its taxation in India after the latest Budget 2022
update.<br> <a href="guide/crypto-assets-taxation.html" title="Taxation Guide">Read more</a></p>
</article>
</div>
<div class="col-md-4 col-sm-5 col-xs-12 desktop_view">
<figure> <img src="{% static '' %}img/homepage/crypto_calc.svg" alt="Crypto Tax Calculator - Bitcoin, Ethereum, DOGE and other cryptocurrencies & coins" title="Crypto Tax Calculator" class="img-responsive" loading="lazy"> </figure>
</div>
</div>
</div>
</section> -->

<section class="home-services w3-animate-opacity">
    <div class="container">
        <div class="row">
            <div class="heading text-center"  style="width: 100%;"><span>Our Expert Services</span>
                <hr>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card ca-assisted clearfix">
                    <div class="col-md-3 col-sm-4 col-xs-3">
                        <img src="{% static '' %}img/ca-assisted.png" alt="CA Assistance" class="img-responsive" title="CA Assisted ITR Filing" width="87" height="87" /> </div>
                    <div class="col-md-9 col-sm-8 col-xs-9 card-txt">
                        <h3>Direct Taxation
                            Planning And
                            Compliance</h3>
                        {% comment %} <p>Get your personal eCA to do tax filing for you. And it is personal, convenient & fast with maximum refund calculated for you.</p> {% endcomment %}
                        <a style="color:black;" href="{% url 'direct_taxcation_questions' %}" class="btn"  data-ctid="card-clicked-get-a-personal-eca-6adc80e418">View more &rightarrow;</a> </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card file-itself clearfix" style="background-color:#cce6f7">
                    <div class="col-md-3 col-sm-4 col-xs-3">
                        <img src="{% static 'new/file_1.png' %}" alt="File Income Tax" class="img-responsive" width="63" height="74" /> </div>
                    <div class="col-md-9 col-sm-8 col-xs-9 card-txt">
                        <h3>Indirect
                            Taxation
                            Planning And
                            Compliance</h3>
                        {% comment %} <p>You can file your ITR on your own. It's Easy, quick & free when you file with Namaste Rapid Tax on your own. {% endcomment %}
                        <a style="color:black;" href="{% url 'indirect_taxcation_questions' %}" class="btn" data-ctid="card-clicked-file-it-yourself-758cd3ca6a">View more &rightarrow;</a> </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">

                <div class="card file-itself clearfix" style="background-color:#b2daf3">
                    <div class="col-md-3 col-sm-4 col-xs-3">
                        <img src="{% static 'new/file_2.png' %}" alt="File Income Tax" class="img-responsive" width="63" height="74" /> </div>
                    <div class="col-md-9 col-sm-8 col-xs-9 card-txt">
                        <h3>Company/LLP
                            Formation And
                            Compliance</h3>
                        {% comment %} <p>You can file your ITR on your own. It's Easy, quick & free when you file with Namaste Rapid Tax on your own. {% endcomment %}
                        <a style="color:black;" href="{% url 'company_llp_questions' %}" class="btn" title="File Income Tax Yourself" data-ctid="card-clicked-file-it-yourself-758cd3ca6a"> View more  &rightarrow;</a> </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="card ca-assisted clearfix" style="background-color:#b5d9ef">
                    <div class="col-md-3 col-sm-4 col-xs-3">
                        <img src="{% static 'img/revised_return.png' %}" alt="CA Assistance" class="img-responsive" title="CA Assisted ITR Filing" width="87" height="87" /> </div>
                    <div class="col-md-9 col-sm-8 col-xs-9 card-txt">
                        <h3>Virtual Book Keeping
                            And Accontancy(CFO)</h3>
                        {% comment %} <p>Get your personal eCA to do tax filing for you. And it is personal, convenient & fast with maximum refund calculated for you.</p> {% endcomment %}
                        <a style="color:black;" href="{% url 'virtual_book_questions' %}" class="btn" title="Tax Filing Help" data-ctid="card-clicked-get-a-personal-eca-6adc80e418"> View more  &rightarrow;</a> </div>
                </div>
            </div>
    </div>
    </div>
</section>

<section class="t2w_services">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="heading"><span>Knowledge Is Power</span>
                    {% comment %} <div class="clearfix"></div>
                    <a href="efile-income-tax-return/sources-of-income.html" class="btn1" title="Free File Now">Free File Now →</a> {% endcomment %}
                    <hr>
                </div>
            </div>
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="box">
                        <figure style="width: 107px;height: 103px;" style="width: 107px;height: 103px;"><img src="{% static 'img/calculators/e-ca.png' %}" alt="" loading="lazy"></figure>
                        <h3>Income From Salary</h3>

                        <a href="{% url 'Income_From_Salary' %}" style="color:#0186d7;"> Read  <i class="fa-solid fa-arrow-right" style="margin-left: 10px;color: #0186d7;"></i></a>
                    </div>
                    <div class="box">
                        <figure style="width: 107px;height: 103px;"><img style="width: 51px;" src="{% static '' %}new/late_fee.jpeg" alt="">
                        </figure>
                        <h3>Income From House Propety</h3>
                        <a href="{% url 'Income_From_House_Propety' %}" style="color:#0186d7;"> Read  <i class="fa-solid fa-arrow-right" style="margin-left: 10px;color: #0186d7;"></i></a>
                    </div>
                    <div class="box">
                        <figure style="width: 107px;height: 103px;"><img src="{% static '' %}img/calculators/file-itself.png" loading="lazy" alt=""></figure>
                        <h3>Income From Propery Gain</h3>
                        <a href="{% url 'Income_From_Propery_Gain' %}" style="color:#0186d7;"> Read  <i class="fa-solid fa-arrow-right" style="margin-left: 10px;color: #0186d7;"></i></a> 
                    </div>
                    <div class="box">
                        <figure style="width: 107px;height: 103px;"><img src="{% static '' %}new/visa.png" alt=""></figure>
                        <h3>Income From Business & Profession</h3>
                        <a href="{% url 'Income_From_Busines_Profession' %}" style="color:#0186d7;"> Read  <i class="fa-solid fa-arrow-right" style="margin-left: 10px;color: #0186d7;"></i></a>
                    </div>
                    <div class="box">
                        <figure style="width: 107px;height: 103px;"><img src="{% static '' %}img/calculators/plan-tax-file-itr.png" alt=""></figure>
                        <h3>Income From Other Source</h3>
                        <a href="{% url 'Income_From_Other_Source' %}" style="color:#0186d7;"> Read  <i class="fa-solid fa-arrow-right" style="margin-left: 10px;color: #0186d7;"></i></a>
                    </div>
                    <div class="box">
                        <figure style="width: 107px;height: 103px;"><img style="width:51px;" src="{% static '' %}new/taxnotice.jpg" alt="" loading="lazy"></figure>
                        
                        <h3>Avoid Tax Notices</h3>
                        <a href="{% url 'Avoid_Tax_Notices' %}" style="color:#0186d7;"> Read  <i class="fa-solid fa-arrow-right" style="margin-left: 10px;color: #0186d7;"></i></a>
                    </div>
                    <div class="box">
                        <figure style="width: 107px;height: 103px;"><img style="width:51px;" src="{% static '' %}new/taxnotice.jpg" alt="" loading="lazy"></figure>
                        
                        <h3>Tax Deductions At Sources (TDS)</h3>
                        <a href="{% url 'TTax_Deductions_At_Sources_TDS' %}" style="color:#0186d7;"> Read  <i class="fa-solid fa-arrow-right" style="margin-left: 10px;color: #0186d7;"></i></a>
                    </div>
                    <div class="box">
                        <figure style="width: 107px;height: 103px;"><img style="width:51px;" src="{% static '' %}new/taxnotice.jpg" alt="" loading="lazy"></figure>
                        
                        <h3>Tax Collection At Sources (TCS)</h3>
                        <a href="{% url 'Tax_Collection_At_Sources_TCS' %}" style="color:#0186d7;"> Read  <i class="fa-solid fa-arrow-right" style="margin-left: 10px;color: #0186d7;"></i></a>
                    </div>
                    <div class="box">
                        <figure style="width: 107px;height: 103px;"><img style="width:51px;" src="{% static '' %}new/taxnotice.jpg" alt="" loading="lazy"></figure>
                        
                        <h3>Due Dates</h3>
                        <a href="{% url 'Due_Dates' %}" style="color:#0186d7;"> Read  <i class="fa-solid fa-arrow-right" style="margin-left: 10px;color: #0186d7;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="home-refund-status">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-12 mobile_view">
                <figure> <img src="{% static '' %}img/refund/h-refundicon.png" alt="Check Refund Status" title="Check Refund Status" loading="lazy"> </figure>
            </div>
            <div class="col-md-8 col-sm-7 col-xs-12">
                <article>
                    <h2> <strong> Unlock The Plan That's Right For You </strong></h2>

                    <p>
                        Discounted prices are a part of Welcome Offer, <br> available only for a limited period of time.
                    </p>
                    <a id="exampleModal_button" href="{% url 'pricing' %}" class="green-btn" title="Income Tax Return Status" data-ctid="card-clicked-check-refund-status-93c34044a1">Check
Prices </a>
                </article>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-12 desktop_view">
                <figure> <img src="{% static '' %}img/refund/h-refundicon.png" alt="Check Refund Status" title="Check Refund Status" width="412" height="331" loading="lazy">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="home_review">
    <div class="container">
        <div class="row">
            {% comment %} <div class="col-md-12">
                <div class="heading text-center"><span>Our Winni's</span>
                    <hr>
                </div>
            </div> {% endcomment %}
            <div class="col-md-12 col-sm-12">
                <div class="testimonial-content owl-carousel">

                    <div class="wrapper">
                        <article>
                            <p>I really liked the team's service and responsiveness to all the queries from my end. The team explained each and every details. Well done. Keep it up team.</p>
                            <div class="c_detail">
                                <figure><img alt="" src="{% static 'img/testimonials/shweta-verma.png' %}" alt="Shweta Verma" class="c_img" loading="lazy" width="60" height="60"></figure>
                                <div>
                                    <span>Shweta Verma</span>
                                    <figure><img alt="" src="{% static 'img/testimonials/five-star.png' %}" laoding="lazy" width="70" height="12" alt="rating"></figure>
                                </div>
                                <img alt="" src="{% static 'img/testimonials/quote-icon.svg' %}" width="40" alt="testimonials" class="quote-icon">
                            </div>
                        </article>
                    </div>

                    <div class="wrapper">
                        <article class="green_box">
                            <p>Namaste Rapid Tax helped me file my ITR with foreign income. Yash Soni was really helpful and always available to answer my doubts and ensure everything went smoothly.</p>
                            <div class="c_detail">
                                <figure><img alt="" src="{% static 'img/testimonials/neeladari-sen.png' %}" alt="Neeladri Sen" title="Neeladri Sen" class="c_img" loading="lazy" width="60" height="60">
                                </figure>
                                <div>
                                    <span>Neeladri Sen</span>
                                    <figure><img alt="" src="{% static 'img/testimonials/four-star.png' %}" loading="lazy" width="70" height="12">
                                    </figure>
                                </div>
                                <img alt="" src="{% static 'img/testimonials/quote-icon.svg' %}" width="40" alt="testimonials" class="quote-icon">
                            </div>
                        </article>
                    </div>

                    <div class="wrapper">
                        <article>
                            <p>Very smooth experience with them , very professional supporting team, who cleared my all doubts ......amazing services.......vary satisfied ...........</p>
                            <div class="c_detail">
                                <figure><img alt="" src="{% static 'img/testimonials/sumit-chattaraj.png' %}" alt="Shweta Verma" class="c_img" loading="lazy" width="60" height="60"></figure>
                                <div>
                                    <span>Sumit Chattaraj</span>
                                    <figure><img alt="" src="{% static 'img/testimonials/five-star.png' %}" loading="lazy" width="70" height="12">
                                    </figure>
                                </div>
                                <img alt="" src="{% static 'img/testimonials/quote-icon.svg' %}" width="40" alt="testimonials" class="quote-icon">
                            </div>
                        </article>
                    </div>
                    <div class="wrapper">
                        <article>
                            <p>Good service, quick response, Interacting friendly.Thank you Namaste Rapid Tax team for filing my ITR especially to Aishwarya Jaju.</p>
                            <div class="c_detail">
                                <figure><img alt="" src="{% static 'img/testimonials/swaminathan-pillai.png' %}" alt="Swaminathan Pillai" class="c_img" loading="lazy" width="60" height="60">
                                </figure>
                                <div>
                                    <span>Swaminathan Pillai</span>
                                    <figure><img alt="" src="{% static 'img/testimonials/five-star.png' %}" loading="lazy" width="70" height="12" alt="rating"></figure>
                                </div>
                                <img alt="" src="{% static 'img/testimonials/quote-icon.svg' %}" width="40" alt="testimonials" class="quote-icon">
                            </div>
                        </article>
                    </div>

                    <div class="wrapper">
                        <article class="green_box">
                            <p>Thank you for your help with submitting my Tax return. I appreciate the professionalism and support you have given. Appreciate your timely support and response.</p>
                            <div class="c_detail">
                                <figure><img alt="" src="{% static 'img/testimonials/aishwarya-jaju.png' %}" alt="Aishwarya Jaju" title="Aishwarya Jaju" class="c_img" loading="lazy" width="60" height="60"></figure>
                                <div>
                                    <span>Aishwarya Jaju</span>
                                    <figure><img alt="" src="{% static 'img/testimonials/five-star.png' %}" loading="lazy" width="70" height="12">
                                    </figure>
                                </div>
                                <img alt="" src="{% static 'img/testimonials/quote-icon.svg' %}" width="40" alt="testimonials" class="quote-icon">
                            </div>
                        </article>
                    </div>

                    <div class="wrapper">
                        <article>
                            <p>Good company ,best website for filling ITR ,their staffs are very responsive and professional. It really helped me a lot.</p>
                            <div class="c_detail">
                                <figure><img alt="" src="{% static 'img/testimonials/neha-kumari.png' %}" alt="Neha Kumari" class="c_img" loading="lazy" width="60" height="60"></figure>
                                <div>
                                    <span>Neha Kumari</span>
                                    <figure><img alt="" src="{% static 'img/testimonials/five-star.png' %}" loading="lazy" width="70" height="12">
                                    </figure>
                                </div>
                                <img alt="" src="{% static 'img/testimonials/quote-icon.svg' %}" width="40" alt="testimonials" class="quote-icon">
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="whyus" style="padding-top:0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-4 col-xs-12 col-sm-offset-0">
                <img src="{% static 'img/man-laptop.png' %}" alt="Namaste Ventures Rapid Tax" class="img-responsive why-t2w" title="Tax2win Income Tax" loading="lazy" width="393" height="299">
            </div>
            <div class="col-md-7 col-sm-8 col-xs-12 right">
                <div class="heading"><span>Namaste Rapid Tax</span>
                    <hr>
                </div>
                <h2>Unlock Your Easy Filings!</h2>
                <p>We have changed the way people do tax filing in India. We don’t just get your tax return filed within minutes but get you maximum refunds in shortest time.
                </p>
                <ul>
                    {% comment %} <li><img src="{% static '' %}img/icons/top-25.png" alt="Top 25 emerging startup of Asia" title="Top 25 emerging startup of Asia" width="25" height="29">Top 25 emerging startup of Asia</li> {% endcomment %}
                    <li><img src="{% static '' %}img/icons/certifed.png" alt="Authorized by Income Tax Department" title="Authorized by Income Tax Department" width="25" height="29">Authorized by Income Tax Department</li>
                    <li><img src="{% static '' %}img/icons/secure.png" alt="Secure and safe" title="Secure and safe" width="25" height="29">Secure and safe</li>
                    <li><img src="{% static '' %}img/icons/team.png" alt="Team of Chartered Accountants" title="Team of Chartered Accountants" width="28" height="29">Team of Chartered Accountants</li>
                    {% comment %} <li><img src="{% static '' %}img/icons/rating.png" alt="4.9 star service rating" title="4.9 star service rating" width="25" height="29">4.9 star service rating</li> {% endcomment %}
                </ul>
                <!-- <a href="about-us.html" class="btn" data-ctid="button-read-more-876af70524">Read
More → </a> -->
            </div>
        </div>
    </div>
</section>

<section class="faq-se-home">
    <div class="container">
        <div class="row">
            <div class="heading text-center"><span>Frequently Asked Questions</span>
                <hr>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="clearfix"></div>
                <div class="panel-group" id="accordion" itemscope itemtype="https://schema.org/FAQPage">
                    <div class="panel panel-default" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="panel-heading">
                            <div itemprop="name" data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-title expand">
                                <div class="right-arrow pull-right"><i class="fa fa-angle-right"></i></div>
                                <a href="#"> What is e-Filing of income tax returns?</a>
                            </div>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <div class="panel-body" itemprop="text">
                                <p>E-filing of Income-tax return is nothing but filing your Income-tax return online. As per the latest announcement by the income tax department, at present income tax returns can be filed through the online method only.
                                    However, the super senior citizens who are filing ITR 1 or ITR 4 are allowed to use the offline paper mode.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="panel-heading">
                            <div itemprop="name" data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-title expand">
                                <div class="right-arrow pull-right"><i class="fa fa-angle-right"></i></div>
                                <a href="#">Who is required to file an Income Tax Return?</a>
                            </div>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <div class="panel-body" itemprop="text">
                                <p>Every Indian including an NRI is required to file an Income tax return where Total Income exceeds the basic exemption limit of Rs. 2,50,000 for an individual; Rs. 3,00,000 in case of the senior citizen and Rs. 5,00,000
                                    in case of the super senior citizen.
                                </p>
                                <p>Total Income comprises income from all sources i.e. income from salary, house property, business income, capital gains or any other taxable income. This limit is to be checked before giving the benefit of deductions
                                    like 80C,80D, 80DDB etc. You are required to file a return irrespective of whether you have paid tax or not. So, even if the employer has deducted TDS in full you are still required to file an income tax return.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="panel-heading">
                            <div itemprop="name" data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-title expand">
                                <div class="right-arrow pull-right"><i class="fa fa-angle-right"></i></div>
                                <a href="#">What will happen in the circumstances where I have missed the due date while
                                filing my Income Tax Return?</a>
                            </div>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <div class="panel-body" itemprop="text">
                                <p>You can file a belated return 3 months prior to the end of the Assessment Year, i.e., for FY 2021-22 (AY 2022-23) it is 31st December 2022. A belated return can only be filed with the payment of late fees u/s 234F.
                                    For FY 2021-22, the date of filing a belated return is 31st December 2022.</p>
                                <p>Following are the consequences if you do not file your Income Tax Return on or before the due date:- non-filing of ITR. Some of them are:</p>
                                <ul>
                                    <li>You can not carry forward the losses from your business.</li>
                                    <li>Lose Interest on refunds.</li>
                                    <li>Pay Interest under section 234A @ 1% per month for late filing of return.</li>
                                    <li>Late filing fee u/s 234F up to Rs. 5000 depending upon taxable income and date of return filing will be levied.</li>
                                    <li>You may receive the Notice from the Income Tax Department.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="panel-heading">
                            <div itemprop="name" data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="panel-title expand">
                                <div class="right-arrow pull-right"><i class="fa fa-angle-right"></i></div>
                                <a href="#">What is the process for e-Filing of your Income Tax Return?</a>
                            </div>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <div class="panel-body" itemprop="text">
                                <p>Income Tax online filing is a simple process and can be done by sitting at home for free with Namaste Rapid Tax.</p>
                                <ul>
                                    <li>Step 1: Visit <a href="index.html">the Namaste Rapid Tax</a> website. Here, click on the option <a href="efile-income-tax-return/sources-of-income.html">“File
                                ITR Now”</a>.</li>
                                    <li>Step 2: Here Select your source of Income and click on continue.</li>
                                    <li>Step 3: If you're a salaried individual, Just Upload your Form 16. If you do not have any form 16 then you can simply skip the option and move further.</li>
                                    <li>Step 4: Enter the Financial Year, PAN & Aadhaar details and other basic details like your Employment Details, Deductions(If Any), bank details. After giving the details of all the information</li>
                                    <li>Step 5: Review your tax computation and click on the “File My ITR” button.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="panel-heading">
                            <div itemprop="name" data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="panel-title expand">
                                <div class="right-arrow pull-right"><i class="fa fa-angle-right"></i></div>
                                <a href="#">How to e-file ITR with Form 16?</a>
                            </div>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <div class="panel-body" itemprop="text">
                                <p>The procedure to e-file return with form-16 is as follows:</p>
                                <ul>
                                    <li>Step 1: Choose "File It Yourself" and click on the <a href="efile-income-tax-return/sources-of-income.html">“File
                                        ITR Now”</a> option at Namaste Rapid Tax.in and upload your Form 16. </li>
                                    <li>Step 2: After uploading form 16, Namaste Rapid Tax software will auto-fill the Form 16 data.
                                    </li>
                                    <li>Step 3: Verify your tax computation now and edit if required.</li>
                                    <li>Step 4: Click the "FILE MY RETURN" button and you are done!.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="panel-heading">
                            <div itemprop="name" data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="panel-title expand">
                                <div class="right-arrow pull-right"><i class="fa fa-angle-right"></i></div>
                                <a href="#">Can I e-file ITR without Form 16?</a>
                            </div>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <div class="panel-body" itemprop="text">
                                <p>Yes, you can still e-file your Income Tax Return even if you do not have form 16 with you. You need to fill in the required details in the software and submit the ITR at the end.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="panel-heading">
                            <div itemprop="name" data-toggle="collapse" data-parent="#accordion" href="#collapse7" class="panel-title expand">
                                <div class="right-arrow pull-right"><i class="fa fa-angle-right"></i></div>
                                <a href="#">What will be the next steps after e-filing of Income Tax Return?</a>
                            </div>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <div class="panel-body" itemprop="text">
                                <p>Once you are done with e-filing of income tax return, you must:-</p>
                                <ul>
                                    <li>Check your inbox of eMail-id as provided in your income tax return form, You will receive an intimation for successful filing of your Income Tax Return, along with ITR-V (Acknowledgement) attached with eMail.</li>
                                    <li>Cross Check all figures thoroughly in your filled ITR form or ITR-V for any error, mistake etc</li>
                                    <li>Verify the Income-tax return by sending a physical copy to CPC Bangalore or you can e-Verify online. Once the return has been successfully Verified, the return filing procedure ends here. And now your job is done.</li>
                                    <li>In case you have a refund in your tax return you shall receive the same in your bank account within the next few days. It is better to keep tracking your refund status so that you do not miss out on any important
                                        updates from the department. You can keep checking the refund status from here</li>
                                </ul>
                                <p>Note: Verification of an ITR is an important step without which your return filing process is not completed. within the time limit (120 days) you have not verified your tax return, it shall be considered as “Invalidated”
                                    i.e. null and void. It means that no Income Tax> Return has been filed at all</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" id="sample-demo">
                <div class="modal-header pb-0">
                    <div>
                        <h5 class="modal-title" id="exampleModalLabel">Your details</h5>
                    </div>
                     <div style="color:black;" class="" data-dismiss="modal" aria-label="Close">
                                <span class="close-button topright" style="font-size: 36px;">&times;</span>
                              </div>
                </div>
                <div class="modal-body d-flex flex-column gap-2">
                    
                    <div class="form-check">
    
                        <div class="form-group">
    
                            <label> Name (*As per PAN card) </label>
                            <input type="text" style="height: 45px;" id="name" style="margin-bottom: 14px;" class="form-control" placeholder="name" required>
                            <br required<label> Mobile Number </label>
                          <input type="number"  style="height: 45px;" id="mobile" style="margin-bottom: 14px;" class="form-control" placeholder="mobile" required>
                          <br> <label> Convenient time for call back </label>
                            <input type="datetime-local"  style="height: 45px;" id="date_time" style="margin-bottom: 14px;" class="form-control" placeholder="pincode" required>
                            
                        
                        </div>
                       
                      </div>
                      
                </div>
                <div class="modal-footer d-flex">
                    <button type="submit" style="width: 100%;background: #0186d7;color: white;" class="btn btn-secondary d-flex justify-content-center align-items-center" data-bs-dismiss="modal">
                         
                        <span class="d-block">Submit</span>
                    </button>
                </div>
              </form>
        </div>
    </div>
    
    <div class="modal" style="padding-top: 93px; overflow: inherit; display: none; height: 100vh;" id="abcd" tabindex="-1" aria-labelledby="exampleModal_suLabel" aria-hidden="true">
        <div class="modal-dialog">
               
                <div class="modal-body d-flex flex-column gap-2">
                    
    
                      <div class="modal-content">
                        <div class="modal-header">
                          <div class="icon-box">
                            <i class="material-icons"> ✔ </i>
                          </div>				
                          <h4 class="modal-title w-100">Awesome!</h4>	
                        </div>
                        <div class="modal-body">
                          <p class="text-center">Your booking has been confirmed. Our team will call you at your desired time.</p>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
                        </div>
                      </div>
                      
               
        </div>
    </div>
    
    
    
    
      <br>
    </div>
    
            {% if itr_Date %}

    <div class="count-down-outer clearfix" id="itr-alert" style="left: 0px;"> <small class="close" onclick="closeNav()">X</small>
        <div id="countdown">
            <h3>Tax Filing Deadline FY 2021-22</h3>
            <div id="counter-off">
                <div id="tiles"><span>08</span><span>11</span><span>15</span><span>07</span></div>
                    <div class="labels">
                    <li>Days</li>
                    <li>Hours</li>
                    <li>Mins</li>
                    <li>Secs</li>
                </div>
                <a class="btn btn-default cta_btn" style="background: #0186d7;" id="exampleModal_button13" target="_blank">Proced Now <i>→</i></a> </div>
            </div>
        </div>
    </div>

    {% endif %}

{% endblock content %}


{% block script %}





    <script>

        
        var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {})
        var myModal_su = new bootstrap.Modal(document.getElementById('abcd'), {})
    
        document.getElementById("exampleModal_button").addEventListener("click", function(event){
            {% if user.is_authenticated %}
            myModal.show();

            {% else %}

            window.location.href = "{% url 'login' %}"


        {% endif %}
        })
        document.getElementById("exampleModal_button12").addEventListener("click", function(event){
            {% if user.is_authenticated %}
            myModal.show();

            {% else %}

            window.location.href = "{% url 'login' %}"


        {% endif %}
        })
        document.getElementById("exampleModal_button13").addEventListener("click", function(event){
            {% if user.is_authenticated %}
            myModal.show();

            {% else %}

            window.location.href = "{% url 'login' %}"


        {% endif %}
        })

       
    
    $(document).ready(function() {
        $('#sample-demo').on('submit', function(e){
          // validation code here
          e.preventDefault();


          
        name = document.getElementById("name").value
        mobile = document.getElementById("mobile").value
        date_time = document.getElementById("date_time").value

        $.ajax({
            cache: false, // initialize an AJAX request
            type: "POST",
            url: "{% url 'unlock_eca_url' %}",
            data: {
                csrfmiddlewaretoken:  '{{ csrf_token  }}',
                name : name,
                mobile_no : mobile,
                date_time : date_time,
               
            },
    



            success: function (data) {

                      myModal.hide();
                      
                      myModal_su.show();

                     

            }

            
            });



          });
        });
          



          

    function openNav() {
        $("#itr-alert").removeClass('hide');
        $("#itr-alert").show().animate({
            left: "0"
        });
      
    }


    function closeNav() {
        $("#itr-alert").animate({
            left: "-280"
        });
       
        
    }

   

    // ITR filing days remaining alert-popup 
    var endTime = '31/08/2022 23:59';
    endTime = endTime.match(/(\d+)\/(\d+)\/(\d+)\s*(\d+):(\d+)/);
    var target_date = new Date(endTime[3], endTime[2] - 1, endTime[1], endTime[4], endTime[5], 0, 0);

    var days, hours, minutes, seconds; // variables for time units
    var countdown = document.getElementById("tiles"); // get tag element

    function getCountdown() {

        // find the amount of "seconds" between now and target
        var current_date = new Date().getTime();
        var seconds_left = (target_date - current_date) / 1000;
        if (seconds_left > 0) {
            days = pad(parseInt(seconds_left / 86400));
            seconds_left = seconds_left % 86400;
            hours = pad(parseInt(seconds_left / 3600));
            seconds_left = seconds_left % 3600;

            minutes = pad(parseInt(seconds_left / 60));
            seconds = pad(parseInt(seconds_left % 60));

            // format countdown string + set tag value
            countdown.innerHTML = "<span>" + days + "</span><span>" + hours + "</span><span>" + minutes + "</span><span>" + seconds + "</span>";
        } else {
            // $("#countdown_time_running").hide();
            // $("#countdown_time_up").show();
            $('#itr-alert, .animation').hide();
            clearInterval(countdownInterval);
        }

    }

    function pad(n) {
        return (n < 10 ? '0' : '') + n;
    }

    getCountdown();

    var countdownInterval = setInterval(function() {
        getCountdown();
    }, 1000);
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q3MYQ6G875" type="ddea0f99955d4f562df47487-text/javascript"></script>
<script type="ddea0f99955d4f562df47487-text/javascript">
    $(document).ready(function() {
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-Q3MYQ6G875');
    });
</script>
<script type="ddea0f99955d4f562df47487-text/javascript">
    window._mfq = window._mfq || [];
            (function() {
            var mf = document.createElement("script");
            mf.type = "text/javascript";
            mf.async = true;
            mf.src = "//cdn.mouseflow.com/projects/1f425764-4716-4f36-b482-121708fb6397.js";
            document.getElementsByTagName("head")[0].appendChild(mf);
        })();
</script>

<script type="ddea0f99955d4f562df47487-text/javascript">
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KR7B8Q');    
</script>


{% endblock script %}
    

