{% extends 'base.html' %} {% load static %} {% block head %} {% endblock head %} {% block content %}

<div class="pricing-new">
    <div class="banner">
        <div class="container text-center">
            <div class="txt"> <small>Pricing</small>
                <h1>Help us Know you better — we'll recommend<br class="hidden-sm hidden-xs"> the <strong>right product</strong></h1>
            </div>
        </div>
    </div>
    <section class="pricing-wrapper">
        <div class="price-plans">
            <div class="top-plans">
                <ul>
                    <li></li>
                    <li>
                        <div class="plans">
                            <div class="panel-body">
                                <figure><img src="assets-new/img/price/free-plan.png" alt="" title=""></figure>
                                <h4>Self Filing</h4>
                                <p>You Prepare &amp; File Your Return</p>
                                <br>
                                <div>Base Price:</div>
                                <strong> Free</strong> <small>&nbsp;</small> </div>
                        </div>
                    </li>
                    <li>
                        <div class="plans">
                            <div class="panel-body">
                                <figure><img src="assets-new/img/price/standard-plan.png" alt="" title=""></figure>
                                <h4>Standard </h4>
                                <p> Includes salary income from one employer, single house property income & income from other sources.</p>
                                <div>Base Price: </div>
                                <strong><i class="fa fa-inr" aria-hidden="true"></i> 549</strong>
                                <small>+ Taxes</small>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="plans">
                            <div class="panel-body">
                                <figure><img src="assets-new/img/price/mform-16.png" alt="" title=""></figure>
                                <h4>MultipleF-16</h4>
                                <p>Everything in Standard plus salary income from multiple employers.</p>
                                <div>Base Price: </div>
                                <strong><i class="fa fa-inr" aria-hidden="true"></i> 849</strong>
                                <small>+ Taxes</small>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="plans">
                            <div class="panel-body">
                                <figure><img src="assets-new/img/price/business-income.png" alt="" title=""></figure>
                                <h4>Business Income</h4>
                                <p>Everything in Multiple Form 16 plus income from multiple house property and income u/s 44AD & 44ADA.</p>
                                <div>Base Price: </div>
                                <strong><i class="fa fa-inr" aria-hidden="true"></i> 1749</strong>
                                <small>+ Taxes</small>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="plans">
                            <div class="panel-body pnl-four">
                                <figure><img src="assets-new/img/price/capital-gain.png" alt="" title=""></figure>
                                <h4>Capital Gain</h4>
                                <p>Everything in Business Income plus capital gain income and relief u/s 89.</p>
                                <div>Base Price: </div>
                                <strong><i class="fa fa-inr" aria-hidden="true"></i> 2149</strong>
                                <small>+ Taxes</small>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="comparison-sticky sticky"> </div>
            <div class="plans-sticky" id="sticky-plans">
                <ul>
                    <li></li>
                    <li><strong>Free</strong></li>
                    <li><strong>Basic</strong></li>
                    <li><strong>MultipleF-16</strong></li>
                    <li><strong>Deluxe</strong></li>
                    <li><strong>Premium</strong></li>
                </ul>
            </div>
            <div class="plan-benifits">
                <div class="panel-group collapse-table" id="accordion1">
                    <div class="panel panel-default">
                        <div id="price-table" class="panel-collapse collapse in">
                            <ul>
                                <li class="gray-bg"> <strong>Salary Income</strong> <small>1. One employer</small> <small>2. More than one employer</small> </li>
                                <li class="gray-bg status"><span></span> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"><span></span> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"><span></span> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"><span></span> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span></span><span><i class="fa fa-circle yes" aria-hidden="true"></i></span> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li> <strong>House Property Income</strong> <small>1. Single House <i class="fa fa-question-circle tooltp" aria-hidden="true" data-container="body" data-toggle="tooltip" data-placement="top" data-title="if you have taken a loan to purchase a house or rent it out.." data-original-title="" title=""></i> </small>                                    <small>2. Multiple House</small> </li>
                                <li class="status"> <span></span><span><i class="fa fa-circle yes" aria-hidden="true"></i></span> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span></span><span><i class="fa fa-circle yes" aria-hidden="true"></i></span> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="status"><span></span> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="status"><span></span> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span></span><span><i class="fa fa-circle yes" aria-hidden="true"></i></span> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg"> <strong>Interest & Other Sources Income</strong> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li> <strong>Capital Gains <i class="fa fa-question-circle tooltp" aria-hidden="true" data-container="body" data-toggle="tooltip" data-placement="top" data-title="if  you have sold or transferred  gold jewellery, shares, immovable property, drawings,paintings, sculptures etc ." data-original-title="" title="" aria-describedby="tooltip676480"></i> </strong>                                    </li>
                                <li class="status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg"> <strong>Section 44 AD/44ADA Income </strong> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li> <strong>Relief under section 89 <i class="fa fa-question-circle tooltp" aria-hidden="true" data-container="body" data-toggle="tooltip" data-placement="top" title="" data-original-title=" If you have received past dues/arrears in the current Financial Year adding to your net taxable income, you are eligible to get tax relief under Section 89(1). It is mandatory from Income Tax Department to fill Form 10E in order to claim the relief.You can save taxes upon your salary arrears and dues!"></i> </strong>                                    </li>
                                <li class="status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg"> <strong>Easy ITR preparation & e-filing for one F.Y.</strong> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li> <strong>Suggestion to maximise tax deductions</strong> </li>
                                <li class="status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg"> <strong>Examination of previous year ITR</strong> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li> <strong>26AS Data Import</strong> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg"> <strong>Tax Payment Assistance</strong> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle no" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="gray-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li> <strong>Expanded set of self-help tools</strong> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="green-bg"> <strong>100% money back guarantee </strong> </li>
                                <li class="green-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="green-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="green-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="green-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                                <li class="green-bg status"> <span><i class="fa fa-circle yes" aria-hidden="true"></i></span> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row happy-txt">
            <div class="col-md-6 col-sm-12 col-xs-12 left"> <strong>Security & Expertise is built into everything we do Happy Filing! </strong>
                <p>Discounted prices are a part of Welcome Offer, available only for a limited period of time.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contact-detail clearfix">
                    <ul>
                        <li>
                            <figure><img src="assets-new/img/ca-assisted/support.svg" alt=""></figure>
                            <small>&nbsp;get in touch:</small> <span><strong>
<mark>+91 </mark>
9660-99-66-55</strong></span> </li>
                        <li>
                            <figure><img src="assets-new/img/ca-assisted/mail.svg" alt=""></figure>
                            <small>e-Mail:</small> <span><a href="cdn-cgi/l/email-protection.html#c9babcb9b9a6bbbd89bda8b1fbbea0a7e7a0a7"><span class="__cf_email__" data-cfemail="d0a3a5a0a0bfa2a490a4b1a8e2a7b9befeb9be">[email&#160;protected]</span></a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <a data-toggle="collapse" data-parent="#accordion" href="#price-table" class="change-text" aria-expanded="true"><i class="fa fa-angle-up"></i> Close Pricing Plan <i class="fa fa-angle-up"></i></a>
        </div>
    </section>
    <section class="other-price">
        <div class="container">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1" style="margin-bottom: 14%;">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="forigen-plan">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <h3>Foreign</h3>
                                    <p>Covers all your foreign income and provides the maximum benefit under DTAA.</p>
                                    <strong>
<i class="fa fa-inr" aria-hidden="true"></i> 2949
<small>+ Taxes</small>
</strong>
                                    <a href="" class="green-btn">Buy Now</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="nri-plan">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h3>NRI</h3>
                                    <p> Provides maximum tax benefit on your Indian income.</p>
                                    <strong>
<i class="fa fa-inr" aria-hidden="true"></i> 4449
<small>+ Taxes</small>
</strong>
                                    <a href="" class="green-btn">Buy Now</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
</div>
</div>
</section>

</footer>
</div>

{% endblock content %} {% block script %}

<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script type="8fb5116b98bf81f8e91509aa-text/javascript">
    var token_name = 'token',
        site_url = 'index.html';
</script>
<script src="assets-new/js/jquery-2.2.4.min.js" type="8fb5116b98bf81f8e91509aa-text/javascript"></script>
<script defer src="assets-new/dist/js/common-1650438011384.min.js" type="8fb5116b98bf81f8e91509aa-text/javascript"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q3MYQ6G875" type="8fb5116b98bf81f8e91509aa-text/javascript"></script>
<script type="8fb5116b98bf81f8e91509aa-text/javascript">
    $(document).ready(function() {
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-Q3MYQ6G875');
    });
</script>
<script type="8fb5116b98bf81f8e91509aa-text/javascript">
    window._mfq = window._mfq || [];
    (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript";
        mf.async = true;
        mf.src = "../cdn.mouseflow.com/projects/1f425764-4716-4f36-b482-121708fb6397.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
    })();
</script>

<script type="8fb5116b98bf81f8e91509aa-text/javascript">
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            '../www.googletagmanager.com/gtm5445.html?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KR7B8Q');
</script>


<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KR7B8Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="8fb5116b98bf81f8e91509aa-|49" defer=""></script>
</body>
{% endblock script %}
<!-- Mirrored from tax2win.in/pricing by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 05 May 2022 06:23:21 GMT -->

</html>