{% extends 'base.html' %} {% load static %} {% block head %} {% endblock head %} {% block content %}
<section class="banner site-login-signup">
    <div class="banner">
        <div class="top-relement"></div>

    </div>
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 clearfix">
                <div class="row calculator-wrapper">
                    <div class="col-md-6 col-sm-5 col-xs-12 left">
                        <h2>Login</h2>
                        <p>Looking for tax preparation help?<br class="hidde-sm hidden-xs"> Login Now to get our Experts Services.</p>
                        <div class="contact-detail clearfix" id="contact-detail">
                            <ul>
                                <li>
                                    <figure><img src="../assets-new/img/support-w-icon.svg" alt=""></figure>
                                    <small>&nbsp;get in touch:</small> <span><strong> 9923-395-711 / 9403-495-711</strong></span> </li>
                                <li>
                                    <figure><img src="../assets-new/img/ca-assisted/mail-white.svg" alt=""></figure>
                                    <small>e-Mail:</small> <span><a><span class="__cf_email__" data-cfemail="394a4c4949564b4d794d58410b4e5057175057">namasterapidtax@gmail.com</span></a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <img src="../assets-new/img/signup-element.png" alt="" class="laptop_elmt hidden-xs">
                    </div>
                    <div class="col-md-6 col-sm-7 col-xs-12 right">
                        <small class="text-danger"> {{ msg }} </small>
                        <form action="{% url 'login' %}" class="validate" id="loginForm" autocomplete="off" method="post" accept-charset="utf-8">
                            {% csrf_token %} 
                            {% if request.GET.next %}
                                <input type="hidden" value="{{ request.GET.next }}" name="next">
                            {% endif %}
                            <div class="form-group">
                                <label for="login">Email or Mobile Number</label><input type="text" name="email" value="" id="login" class="textBoxes required form-control" maxlength="125" />
                            </div>
                            <div class="form-group loginPswrd">
                                <label for="password">Password</label><input type="password" name="password" value="" class="textBoxes required form-control" id="password" />
                            </div>

                            <button name="button" type="Submit" class="loginBtn form-control" id="button" value="true"><i class="icon-menu2"></i> Sign in</button>
                        </form>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group text-left">
                                    <a href="{% url 'register' %}" class="forgot orLogin">Create an Account</a> </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group text-right">
                                    <a href="forgotpassword.html" class="forgot orLogin">Forgot Password ?</a> </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    </div>


    {% endblock content %} {% block script %}




    {% endblock script %}



    </body>

    <!-- Mirrored from tax2win.in/user/login by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 05 May 2022 06:23:24 GMT -->

    </html>