{% extends 'base.html' %} {% load static %} {% block head %} {% endblock head %} {% block content %}
<section class="banner site-login-signup">
    <div class="banner">
        <div class="top-relement"></div>

    </div>
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 clearfix">
                <div class="row calculator-wrapper">
                    <div class="col-md-6 col-sm-5 col-xs-12 left">
                        <h2>Login</h2>
                        <p>Looking for tax preparation help?<br class="hidde-sm hidden-xs"> Login Now to online file your tax return. Its Easy, Fast, Convenient & Secure.</p>
                        <div class="contact-detail clearfix" id="contact-detail">
                            <ul>
                                <li>
                                    <figure><img src="../assets-new/img/support-w-icon.svg" alt=""></figure>
                                    <small>&nbsp;get in touch:</small> <span><strong> +91 9660-99-66-55</strong></span> </li>
                                <li>
                                    <figure><img src="../assets-new/img/ca-assisted/mail-white.svg" alt=""></figure>
                                    <small>e-Mail:</small> <span><a href="../cdn-cgi/l/email-protection.html#d0a3a5a0a0bfa2a490a4b1a8e2a7b9befeb9be"><span class="__cf_email__" data-cfemail="394a4c4949564b4d794d58410b4e5057175057">[email&#160;protected]</span></a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <img src="../assets-new/img/signup-element.png" alt="" class="laptop_elmt hidden-xs">
                    </div>
                    <div class="col-md-6 col-sm-7 col-xs-12 right">
                        <small class="text-danger"> {{ msg }} </small>
                        <form action="{% url 'login' %}" class="validate" id="loginForm" autocomplete="off" method="post" accept-charset="utf-8">
                            {% csrf_token %} 
                            {% if request.GET.next %}
                                <input type="hidden" value="{{ request.GET.next }}" name="next">
                            {% endif %}
                            <div class="form-group">
                                <label for="login">Email or Mobile Number</label><input type="text" name="email" value="" id="login" class="textBoxes required form-control" maxlength="125" />
                            </div>
                            <div class="form-group loginPswrd">
                                <label for="password">Password</label><input type="password" name="password" value="" class="textBoxes required form-control" id="password" />
                            </div>

                            <button name="button" type="Submit" class="loginBtn form-control" id="button" value="true"><i class="icon-menu2"></i> Sign in</button>
                        </form>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group text-left">
                                    <a href="{% url 'register' %}" class="forgot orLogin">Create an Account</a> </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group text-right">
                                    <a href="forgotpassword.html" class="forgot orLogin">Forgot Password ?</a> </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="footer-new">
    <footer class="footer-half">
        <section class="contact-info">
            <div class="container">
                <div class="col-md-5 col-sm-9 col-xs-12">
                    <span>
<img src="../assets-new/img/calling.png" alt="File ITR Support" class="img-responsive" title="File ITR Support" width="40" height="42" /> <a href="tel:+91 9660-99-66-55" style="color: #000;">+91 9660-99-66-55</a><small>&nbsp;|&nbsp;</small><a href="../cdn-cgi/l/email-protection.html#75060005051a07013501140d47021c1b5b1c1b" data-ctid="email-link-support-tax2win-in-37ad9c1d10"><span class="__cf_email__" data-cfemail="cebdbbbebea1bcba8ebaafb6fcb9a7a0e0a7a0">[email&#160;protected]</span></a>
                    </span>
                </div>
    </footer>
    </div>


    {% endblock content %} {% block script %}


    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="1358a288de89eabaf718a985-text/javascript">
        var token_name = 'token',
            site_url = '../index.html';
    </script>
    <script src="../assets-new/js/jquery-2.2.4.min.js" type="1358a288de89eabaf718a985-text/javascript"></script>
    <script defer src="../assets-new/dist/js/common-1650438011384.min.js" type="1358a288de89eabaf718a985-text/javascript"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q3MYQ6G875" type="1358a288de89eabaf718a985-text/javascript"></script>
    <script type="1358a288de89eabaf718a985-text/javascript">
        $(document).ready(function() {
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-Q3MYQ6G875');
        });
    </script>
    <script type="1358a288de89eabaf718a985-text/javascript">
        window._mfq = window._mfq || [];
        (function() {
            var mf = document.createElement("script");
            mf.type = "text/javascript";
            mf.async = true;
            mf.src = "../../cdn.mouseflow.com/projects/1f425764-4716-4f36-b482-121708fb6397.js";
            document.getElementsByTagName("head")[0].appendChild(mf);
        })();
    </script>

    <script type="1358a288de89eabaf718a985-text/javascript">
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '../../www.googletagmanager.com/gtm5445.html?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KR7B8Q');
    </script>




    <script type="1358a288de89eabaf718a985-text/javascript">
        var clevertap = {
            event: [],
            profile: [],
            account: [],
            onUserLogin: [],
            notifications: [],
            privacy: []
        };
        // replace with the CLEVERTAP_ACCOUNT_ID with the actual ACCOUNT ID value from your Dashboard -> Settings page
        clevertap.account.push({
            "id": "4R4-7R7-RR6Z"
        });
        clevertap.privacy.push({
            optOut: false
        }); //set the flag to true, if the user of the device opts out of sharing their data
        clevertap.privacy.push({
            useIP: false
        }); //set the flag to true, if the user agrees to share their IP data
        (function() {
            var wzrk = document.createElement('script');
            wzrk.type = 'text/javascript';
            wzrk.defer = true;
            wzrk.src = ('https:' == document.location.protocol ? 'https://d2r1yp2w7bby2u.cloudfront.net' : 'http://static.clevertap.com') + '/js/a.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wzrk, s);
        })();
    </script>

    <script defer data-cfasync="false" src='../../www.google.com/recaptcha/api.js'></script>
    <script src="../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="1358a288de89eabaf718a985-|49" defer=""></script>


    {% endblock script %}



    </body>

    <!-- Mirrored from tax2win.in/user/login by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 05 May 2022 06:23:24 GMT -->

    </html>